@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--font-family: "Rubik";
	--color-noirClaire: #3a3a3a;
	--color-noirFoncé: #000000;
	--color-grisClaire: #8c8c8c;
	--color-blanc: #ffffff;

	--border-color-rose: #bc5c70;
	--border-color-orange: #c2ac7f;

	--h1-size: 48px;
	--h2-size: 22px;
	--p-size: 16px;

	--background-color-Rose: #f5c2cd;
	--background-color-Vert: #4f8c69;
	--background-color-orange: #f5e2bc;

	--weight300: 300;
	--weight400: 400;
	--weight500: 500;
	--weight600: 600;
	--weight700: 700;
}

body {
	color: var(--color-blanc);
	height: 100vh;
	font-family: var(--font-family);
	background-image: url("./asset/background-cloud.svg"),
		url("./asset/background-dirt.png"), url("./asset/background-stone.png");
	background-repeat: repeat-x, repeat-x, repeat;
	background-position: top 70px left 0px, top 185px left 0, top 0px left 0;
}
.optionOverlay{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: var(--color-grisClaire);
	opacity: 0.5;
}

.title {
	font-size: var(--h1-size);
	font-weight: var(--weight300);
}
.p-regular {
	font-size: var(--p-size);
}
header ul {
	list-style-type: none;
	display: none;
	flex-direction: row;
	gap: 25px;
	padding: 0px;
}
span {
	font-weight: var(--weight600);
}
li {
	display: flex;
	gap: 5px;
	font-weight: var(--weight600);
	cursor: pointer;
}
li a {
	text-decoration: none;
	color: var(--color-blanc);
}
.boutton-sch {
	font-size: var(--h2-size);
	color: var(--color-blanc);
	font-weight: var(--weight700);
}
header {
	height: 70px;
}
nav {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 4fr 1fr;
}
.nav-orga {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.orga {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.searchInput {
	border: none;
	background-color: white !important;
	background: center left 10px url(./asset/search.svg) no-repeat;
	background-size: 28px;
	padding-left: 60px !important;
	padding: 20px;
	width: 159px;
	height: 15px;
	border-radius: 50px;
}
input:focus {
	outline: none;
}
.input-orga {
	display: flex;
	justify-content: center;
	align-items: center;
}
.theme-btn {
	border: none;
	cursor: pointer;
	background: center / cover url(./asset/menu.png);
	width: 38px;
	height: 38px;
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	background-color: #e6eff4;
	width: 83%;
	padding: 15px;
	margin-top: 186px;
	margin-bottom: 287px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	color: black;
	padding: 30px;
	gap: 24px;
}
.warning {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--background-color-Rose);
	border-left: solid 5px var(--border-color-rose);
	padding: 8px 12px 8px 12px;
	gap: 10px;
}
.warning p {
	display: flex;
	flex-direction: column;
}
.definition {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-items: start;
}
.def-text {
	max-width: 75%;
}
.definition img {
	width: 90%;
}
.no-result-text {
	color: var(--color-grisClaire);
	font-weight: var(--weight700);
	font-size: var(--h2-size);
	grid-template-columns: 2fr 2fr;
	justify-items: end;
}
@media screen and (min-width: 850px) {
	.theme-btn {
		width: 30px;
		height: 30px;
		background: center / cover url(./asset/theme.svg);
	}
	.searchInput {
		width: 178px;
	}
	header ul {
		display: flex;
	}
	nav {
		display: grid;
		grid-template-columns: 4fr 2fr 1fr;
	}
}
@media screen and (min-width: 1440px) {
	nav {
		grid-template-columns: 3fr 4fr 1fr;
	}
	.searchInput {
		width: 310px;
	}
	.entity-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/********* animallllllllllllllllllllllllllllllllllllllll ***********/
.entity-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
}

#entityCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border: 2px solid var(--background-color-Vert);
	min-height: 317px;
	max-height: 317px;
}
#entityCard img {
	max-width: 50%;
	max-height: 150px;
}
.entity-titre {
	text-align: center;
	background-color: var(--background-color-Vert);
	width: 100%;
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.entity-titre img {
	width: 30px;
	height: 30px;
}
.entity-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.entity-description a {
	color: var(--color-bleu);
	width: fit-content;
}
.entity-description p {
	color: var(--color-noirClaire);
	width: fit-content;
}
.entity-2 hr {
	width: 100%;
	height: 2px;
	color: var(--background-color-Vert);
	margin: 5px 0 7px 0;
	border: 1px solid var(--background-color-Vert);
}
#entityCard button {
	background-color: var(--background-color-Vert);
	width: 100%;
	border: none;
	padding: 5px 0;
	color: var(--color-blanc);
}
.entity-list-d {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
.entity-list hr {
	margin-bottom: 15px;
}
.no-result {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
}
@media screen and (max-width: 750px) {
	.entity-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
}

@media screen and (max-width: 450px) {
	.entity-2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 15px;
	}
	form section {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

form {
	display: flex;
	flex-direction: column;
}
form input {
	width: 100%;
}
form section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.search-container {
	padding: 10px 0;
}
.search-container input {
	width: 100%;
	border-radius: 8px;
}

.search-input {
	width: 100%;
	padding: 10px 10px 10px 40px;
	border-radius: 8px;
	border: none;
	background-color: white;
	outline: none;
}

.search-input::placeholder {
	color: #9ca3af;
}

/* nouveau code */

#stub {
	background-color: var(--background-color-orange);
	border-color: #c2ac7f;
}
#entityCard {
	width: 300px;
}
.entity-titre {
	width: 100%;
}
.physic {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.entity-description img {
	width: 40px;
	height: 30px;
}
.entity-description div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid 2px darkgreen;
}
.entity-description p {
	display: flex;
	gap: 10px;
}
/* width: 1156px; */

.search-container {
	padding: 0 17px;
}
.caractère div {
	display: flex;
	flex-direction: column;
	padding: 0 25px;
}
.caractère label {
	color: var(--color-noirClaire);
	font-weight: var(--weight700);
	font-size: 14px;
}

.form-bouton {
	text-align: center;
}
.form-bouton button {
	background-color: var(--background-color-Vert);
	border: none;
	border-radius: 99px;
	padding: 7px 40px;
	margin: 10px 0;
	font-size: 22px;
	font-weight: var(--weight700);
	color: var(--color-blanc);
	cursor: pointer;
}

@media screen and (max-width: 850px) {
	.entity-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 650px) {
	.entity-2 {
		display: grid;
		grid-template-columns: 1fr;
	}
}
.form-bouton button {
	cursor: pointer;
}

.entity-hihihiha {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border: 2px solid var(--background-color-Vert);
	width: 80%;

}
.entity-hihihiha img {
	max-width: 50%;
	max-height: 350px;
}
.entity-hihihiha .entity-description{
	flex-direction: column;
	gap: 10px;
}
.entity-hihihiha .entity-description img{
	max-width: 25px;
	max-height: 25px;
}
.entity-hihihiha button {
	background-color: var(--background-color-Vert);
    width: 100%;
    border: none;
    padding: 5px 0;
    color: var(--color-blanc);

}