@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--font-family: "Rubik";
	--color-noirClaire: #3a3a3a;
	--color-noirFoncé: #000000;
	--color-grisClaire: #8c8c8c;
	--color-blanc: #ffffff;

	--border-color-rose: #bc5c70;
	--border-color-orange: #c2ac7f;

	--h1-size: 48px;
	--h2-size: 22px;
	--p-size: 16px;

	--background-color-Rose: #f5c2cd;
	--background-color-Vert: #4f8c69;
	--background-color-orange: #f5e2bc;

	--weight300: 300;
	--weight400: 400;
	--weight500: 500;
	--weight600: 600;
	--weight700: 700;
}

body {
	color: var(--color-blanc);
	height: 100vh;
	font-family: var(--font-family);
	background-image: url("./asset/background-cloud.svg"),
		url("./asset/background-dirt.png"), url("./asset/background-stone.png");
	background-repeat: repeat-x, repeat-x, repeat;
	background-position: top 70px left 0px, top 185px left 0, top 0px left 0;
}
.title {
	font-size: var(--h1-size);
	font-weight: var(--weight300);
}
.p-regular {
	font-size: var(--p-size);
}
header ul {
	list-style-type: none;
	display: none;
	flex-direction: row;
	gap: 25px;
	padding: 0px;
}
span {
	font-weight: var(--weight600);
}
li {
	display: flex;
	gap: 5px;
	font-weight: var(--weight600);
    cursor: pointer;
}
li a {
    text-decoration: none;
    list-style: none;
    color: var(--color-blanc);
}
.boutton-sch {
	font-size: var(--h2-size);
	color: var(--color-blanc);
	font-weight: var(--weight700);
}
header {
	height: 70px;
}
nav {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 4fr 1fr;
}
.nav-orga {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.orga {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.searchInput {
	border: none;
	background-color: white !important;
	background: center left 10px url(./asset/search.svg) no-repeat;
	background-size: 28px;
	padding-left: 60px !important;
	padding: 20px;
	width: 159px;
	height: 15px;
	border-radius: 50px;
}
input:focus {
	outline: none;
}
.input-orga {
	display: flex;
	justify-content: center;
	align-items: center;
}
.theme-btn {
	border: none;
	cursor: pointer;
	background: center / cover url(./asset/menu.png);
	width: 38px;
	height: 38px;
}

.rules-lettre {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.p-regular {
    padding-right: 100px;
}