
.title {
	font-size: var(--h1-size);
	font-weight: var(--weight300);
}
.p-regular {
	font-size: var(--p-size);
}
header ul {
	list-style-type: none;
	display: none;
	flex-direction: row;
	gap: 25px;
	padding: 0px;
}
span {
	font-weight: var(--weight600);
}
li {
	display: flex;
	gap: 5px;
	font-weight: var(--weight600);
	cursor: pointer;
}
li a {
	text-decoration: none;
	list-style: none;
	color: var(--color-blanc);
}
.boutton-sch {
	font-size: var(--h2-size);
	color: var(--color-blanc);
	font-weight: var(--weight700);
}
header {
	height: 70px;
}
nav {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 4fr 1fr;
}
.nav-orga {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.orga {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.searchInput {
	border: none;
	background-color: white !important;
	background: center left 10px url(./asset/search.svg) no-repeat;
	background-size: 28px;
	padding-left: 60px !important;
	padding: 20px;
	width: 159px;
	height: 15px;
	border-radius: 50px;
}
input:focus {
	outline: none;
}
.input-orga {
	display: flex;
	justify-content: center;
	align-items: center;
}
.theme-btn {
	border: none;
	cursor: pointer;
	background: center / cover url(./asset/menu.png);
	width: 38px;
	height: 38px;
}

.rules-lettre {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.p-regular {
	padding-right: 100px;
}
.tutorial-arena {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.tutorial-arena a {
	color: #0246f1;
	text-decoration: none;
	border-bottom: 4px solid #0246f1;
}
.card {
	margin-bottom: 0px;
}
